<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <servlet>
    <servlet-name>CarPlatform</servlet-name>
    <servlet-class>servlets.CarPlatform</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>CarPlatform</servlet-name>
    <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BodyDataJson</servlet-name>
        <servlet-class>servlets.BodyDataJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BodyDataJson</servlet-name>
        <url-pattern>/jsonBody</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OilDataJson</servlet-name>
        <servlet-class>servlets.OilDataJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OilDataJson</servlet-name>
        <url-pattern>/jsonOil</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransmissionDataJson</servlet-name>
        <servlet-class>servlets.Transmission</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransmissionDataJson</servlet-name>
        <url-pattern>/jsonTransmission</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActiveFilter</servlet-name>
        <servlet-class>servlets.ActiveFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveFilter</servlet-name>
        <url-pattern>/jsonfilter</url-pattern>
    </servlet-mapping>
</web-app>